---
import type { MarkdownHeading } from "astro";
import Categories from "./Categories.astro";
import Profile from "./Profile.astro";
import MusicPlayer from "./MusicPlayer.astro";
import SiteStats from "./SiteStats.astro";
import Tag from "./Tags.astro";
import CalendarWidget from "./CalendarWidget.astro";
import Announcement from "./Announcement.astro";

interface Props {
	class?: string;
	headings?: MarkdownHeading[];
}

const className = Astro.props.class;
---
<div id="sidebar" class:list={[className, "w-full"]}>
    <div class="flex flex-col w-full gap-4 mb-4">
        <Profile></Profile>
    </div>
    <div id="sidebar-sticky" class="transition-all duration-700 flex flex-col w-full gap-4 top-4 sticky top-4">
        <MusicPlayer class="onload-animation" style="animation-delay: 50ms"></MusicPlayer>
        <Announcement class="onload-animation" style="animation-delay: 100ms"></Announcement>
        <Categories class="onload-animation" style="animation-delay: 150ms"></Categories>
        <Tag class="onload-animation" style="animation-delay: 200ms"></Tag>
    </div>
</div>
